.banner {
  height: 20em;
  object-fit: contain;
  color: rgb(212, 207, 207);
}

.banner-content {
  margin-left: 2%;
  padding-top: 5%;
  /* height: 0em; */
}

.banner-overview {
  width: 50em;
  overflow-wrap: break-word;
}

.banner-button {
  border: none;
  background-color: rgba(37, 36, 36, 0.5);
  padding: 0.7%;
  margin-top: 1%;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 1em;
  outline: none;
  transition: all 0.5s;
}

.banner-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(31, 31, 31, 0.5);
}

 
@media (max-width: 820px) {
  .banner-overview {
    width: 40rem;
    
  }
} 
@media (max-width: 700px) {
  .banner-overview {
    width: 30rem;
    
  }
} 
@media (max-width: 500px) {
  .banner-overview {
    width: 25rem;
    
  }
} 
@media (max-width: 400px) {
  .banner-overview {
    width: 18rem;
    font-size: normal;
    
  }
  .banner-content {
    margin-left: 2%;
    padding-top: 8%;
  }
} 
